AZURE_STORAGE_CONNECTION_STRING= 
AZURE_STORAGE_CONTAINER_NAME= 
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT= 
AZURE_DOCUMENT_INTELLIGENCE_KEY= 
AZURE_SEARCH_ENDPOINT= 
AZURE_SEARCH_KEY= 
AZURE_SEARCH_INDEX_NAME= 
GEMINI_API_KEY= 
HF_API_TOKEN= 
AZURE_OPENAI_ENDPOINT= 
AZURE_OPENAI_API_KEY= 
AZURE_OPENAI_CHAT_DEPLOYMENT= 
AZURE_OPENAI_EMBEDDING_DEPLOYMENT= 
AI_PROVIDER= azure/gemini
ENABLE_FIGURE_VISION= 
AZURE_COSMOS_CONNECTION_STRING= 
AZURE_COSMOS_DB_NAME= 
AZURE_TRANSLATOR_KEY= 
AZURE_TRANSLATOR_REGION= 
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION= 
SERP_API_KEY=
YOUTUBE_API_KEY = 
IMAGE_GENERATION_PROVIDER=
AZURE_OPENAI_IMAGE_DEPLOYMENT=
EMAIL_SENDER=
EMAIL_PASSWORD=
SMTP_HOST=
SMTP_PORT=
AZURE_FLUX_ENDPOINT=
AZURE_FLUX_API_KEY=