AZURE_STORAGE_CONNECTION_STRING =

AZURE_STORAGE_CONTAINER_NAME= 


AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT= 
AZURE_DOCUMENT_INTELLIGENCE_KEY= 

AZURE_SEARCH_ENDPOINT= 
AZURE_SEARCH_KEY= 
AZURE_SEARCH_INDEX_NAME= 

GEMINI_API_KEY=  

AZURE_COSMOS_CONNECTION_STRING= 
AZURE_COSMOS_DB_NAME=

AZURE_TRANSLATOR_KEY= 
AZURE_TRANSLATOR_REGION= 

AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION= 

HF_API_TOKEN= 