fastapi
uvicorn[standard]
python-dotenv
python-multipart
google-generativeai
azure-storage-blob
azure-ai-documentintelligence
azure-search-documents
azure-core
motor[srv]
azure-cognitiveservices-speech
azure-ai-translation-text
pydub
python-jose[cryptography]